.btn__link {
  color: #fff;
}

@media screen and (max-width: 480px) {
  nav {
    border: solid red 1px;
  }
  body {
    padding: 0rem;
  }
  main {
    width: 100%;
    padding: 1rem;
    margin-top: 75px;
  }
  .first_new_news h3 {
    font-size: 20px;
    padding-bottom: 0.2em;
    border-bottom: solid black 1px;
  }
  .first_new_news dl {
    padding-top: 0.4em;
  }
  .first_new_news dd {
    padding-top: 0.4em;
    padding-left: 0.6em;
    border-bottom: solid #bcbc 1px;
  }
  .first_new_news dt {
    padding-top: 0.4em;
    padding-left: 0.3em;
  }
  .first_new_news h3 {
    padding-top: 0.8em;
  }
  #globalNav {
    display: none;
  }
  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  #background_member {
    background-image: url(../img/member5.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 15em;
  }
  #synopsis {
    width: 100%;
  }
  #synopsis h2 {
    text-align: center;
    font-size: 24px;
  }
  #synopsis_detail {
    padding-top: 1em;
    display: flex;
  }
  #synopsis img {
    padding-top: 0.8rem;
    width: 150px;
  }
  #synopsis_p {
    width: auto;
    line-height: 1.4em;
  }
  .name h3 {
    text-align: center;
    font-size: 24px;
    margin: 1em;
  }
  .name p {
    color: #ffffff;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #d02a2a;
  }
}
@media (min-width: 481px) {
  body {
    padding: 0;
    margin: 0;
  }
  main {
    width: 70%;
    float: right;
  }
  #globalNav {
    display: none;
  }
  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  #background_member {
    background-image: url(../img/member5.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50em;
  }
  .first_new_news h3 {
    width: 98%;
    font-size: 20px;
    margin-top: 1em;
    padding-bottom: 0.2em;
    border-bottom: solid black 1px;
  }
  .first_new_news dl {
    width: 98%;
    padding-top: 0.4em;
  }
  .first_new_news dd {
    padding-top: 0.4em;
    padding-left: 0.6em;
    border-bottom: solid #bcbc 1px;
  }
  .first_new_news dt {
    padding-top: 0.4em;
    padding-left: 0.3em;
  }
  .first_new_news h3 {
    padding-top: 0.8em;
  }
  #synopsis {
    width: 98%;
  }
  #synopsis h2 {
    text-align: center;
    font-size: 24px;
    margin-top: 1em;
  }
  #synopsis_detail {
    padding-top: 1em;
    display: flex;
  }
  #synopsis img {
    padding-top: 0.8rem;
    margin-left: 3em;
    margin-bottom: 3em;
    width: 150px;
  }
  #synopsis_p {
    width: auto;
    line-height: 1.4em;
    margin: 2em;
  }
  /* .slider img{
        width: 1000px;
    } */
  .name h3 {
    text-align: center;
    font-size: 24px;
    margin: 1em;
  }
  .name p {
    color: #ffffff;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #d02a2a;
  }
}
