@media screen and (min-width:960px) {
    .main__ttl {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: bold;
        color: #c4c4c4;
        text-align: right;
        text-transform: uppercase;
    }
    main {
        margin-left: 350px;
    }
    main h1 {
        border-bottom: solid #D02A2A 3px;
        padding: 1% 3%;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .main-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .center-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    dt {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    main {
        margin-bottom: 250px;
    }
    .button {
        background-color: #D02A2A;
        height: 50px;
        line-height: 50px;
        font-weight: 600;
        width: 40%;
        color: #fff;
        font-size: 14px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
        letter-spacing: 1px;
    }
    .cont img {
        height: 350px;
    }
    .cont {
        margin-top: 20px;
        margin-bottom: 30px;
        height: 350px;
        min-width: 500px;
        max-width: 850px;
    }
    .cont dl {
        display: flex;
        justify-content: space-between;
    }
    .left {
        width: 350px;
        margin-right: 20px;
        
        text-align: center;
    }
    .right {
        width: 400px;
        padding-top: 80px;
    }
    
    
    .battle{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }


}