/* html, body {
  font-size: 64.5%;
} */

.main {
  margin-bottom: 5rem;
}
.main__ttl {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: bold;
  color: #c4c4c4;
  text-align: right;
  text-transform: uppercase;
}
article {
  margin-bottom: 20px;
}

article h2 {
  margin-bottom: 10px;
}
article .description {
  margin-bottom: 20px;
}

.award dt, .award dd {
  margin-bottom: 10px;
}

.award dt::before {
  content: " ・ ";
}

.award dd::before {
  content: "　- ";
}
.none {
  display: none;
}

.data div {
  display: flex;
  align-items: center;
  border-bottom: solid #bababa 0.5px;
  margin-bottom: 10px;
}
.data dt, .data dd {
  padding: 10px 0;
}
.data dt {
  width: 25%;
}
.data dd {
  width: 75%;
}
.data dt {
  text-align: center;
}

.theme-song section h3 {
  width: 150px;
  color: #6B6B6B;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: solid #6B6B6B 1px;
  padding: 5px 0;
  margin: auto;
  margin-bottom: 20px;
}
.theme-song section img {
  width: 100%;
}
.theme-song section dl {
  margin-bottom: 20px;
}
.theme-song section dt {
  margin-bottom: 10px;
}
.theme-song section dd {
  text-align: center;
  /* font-size: 1.4rem; */
}

.theme-song p {
  width: 90%;
  /* font-size: 1.4rem; */
  text-align: center;
  background-color: #D02A2A;
  margin: auto;
  margin-bottom: 20px;
  
}
.theme-song a {
  color: white;
  display: block;
  padding: 10px 0;
}
.theme-song a::after {
  content: " > ";
}


/* moblie */
@media screen and (max-width: 960px) {
  .pc-song {
    display: none;
  }
}
/* desktop */
@media screen and (min-width: 960px) {
  .main {
    margin-left: 350px;
  }
  .container {
    display: flex;
  }
  .main__ttl {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  article .description {
    font-size: 1.1rem;
  }
  .data {
    width: 70%;
  }
  .theme-song-cont {
    display: flex;
    justify-content: space-between;
  }
  .theme-song-cont dl {
    width: 50%;
    margin: 10px;
  }
  .theme-song p {
    width: 50%;
  }
}