body {
  padding: 0;
  width: 100%;
}
.btn__link {
  color: #fff;
}
@media screen and (max-width: 480px) {
  main {
    width: 100%;
    margin-top: 75px;
  }
  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  #background_member {
    width: 100%;
    background-image: url(../../img/member5.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .synopsis h2 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
  }
  #story {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    font-size: 16px;
    line-height: 1.4em;
  }
  .button {
    color: #ffffff;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #d02a2a;
  }
  .detail_story h3 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
  }
  .syouhoku_member dl {
    display: flex;
    width: 100vw;
    margin: 0 auto;
  }
  .member {
    padding-left: 1.3em;
    margin-top: 1em;
  }
  .member dd {
    text-align: center;
    padding-top: 0.8em;
  }
  .name h3 {
    margin-bottom: 1em;
  }
  .seiti h2,
  #book h2 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
    margin-bottom: 1em;
  }

  #book dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
  }

  .book_num {
    margin-bottom: 10px;
    width: 33%;
    text-align: center;
  }
  .book_num img {
    width: 90px;
  }
  .slider img {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 481px) {
  main {
    margin-left: 360px;
  }
  .hidden {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  #background_member {
    height: 100vh;
    background-image: url(../../img/member5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .synopsis h2 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
  }
  #story {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    font-size: 16px;
    line-height: 1.4em;
  }
  .button {
    color: #ffffff;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 1em;
    background-color: #d02a2a;
  }
  .detail_story h3 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
  }
  .syouhoku_member dl {
    display: flex;

    margin: 0 auto;
  }
  .member {
    padding-left: 5em;
    margin-top: 1em;
  }
  .member img {
    width: 220px;
  }
  .member dd {
    text-align: center;
    padding-top: 0.8em;
  }
  .name h3 {
    margin-bottom: 1em;
  }
  .seiti h2,
  #book h2 {
    font-size: 24px;
    padding-left: 1em;
    width: 90%;
    padding-bottom: 0.4em;
    border-bottom: solid #d02a2a 2px;
    margin-bottom: 1em;
  }

  #book dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow: hidden;
  }

  .book_num {
    margin-bottom: 10px;
    width: 33%;
    text-align: center;
  }
  .book_num img {
    width: 220px;
  }
  .slider img {
    width: 100%;
    margin: 0 auto;
  }
}
