.main {
  margin-bottom: 5rem;
}

.main__ttl {
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: bold;
  color: #c4c4c4;
  text-align: right;
  text-transform: uppercase;
}

.title {
  width: 100%;
}

.img {
  width: 100%;
  margin-bottom: 2rem;
}
.img__anime {
  width: 100%;
  max-width: 750px;
  margin: 2rem 0;
}
.img__sanc {
  width: 100%;
  max-width: 750px;
}

/***** Mobile *****/
@media screen and (max-width: 479px) {
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__anime {
    height: 220px;
  }
  .img__sanc {
    height: 220px;
  }
}

/***** Mobile && Tablet *****/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__anime {
    width: 100%;
    height: 350px;
  }
  .img__sanc {
    width: 100%;
    height: 350px;
  }
}

/***** Tablet && Desktop *****/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img__anime {
    width: 100%;
    height: 350px;
  }
  .img__sanc {
    width: 100%;
    height: 350px;
  }
}

/***** Desktop *****/
@media screen and (min-width: 1025px) {
  .img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .img__anime {
    width: 320px;
    height: 250px;
  }
  .img__sanc {
    width: 320px;
    height: 250px;
  }
}

.desc {
  width: 100%;
  max-width: 750px;
  margin-bottom: 3rem;
}
.desc > p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.sanc-map {
  width: 100%;
  max-width: 750px;
  height: 300px;
}
