.none {
    display: none;
}

.best-scene {
    width: 90%;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
}

.content img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.content dt {
    /* 要素の影([右][下][ぼかし][広がり][影の色][内側]) */
    box-shadow: 0px -15px 10px 5px rgba(0, 0, 0, 0.4) inset;
    border: 5px solid rgb(225, 225, 225)
}

.scene-title {
    color: white;
    font-size: 16px;
    text-align: right;
    position: relative;
    bottom: 24px;
    right: 10px;
}

.main__ttl {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: #c4c4c4;
    text-align: right;
    text-transform: uppercase;
}

@media(min-width:960px) {
    main {
        width: 75%;
        margin-left: 22.5%;
    }
    dl {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .scene-title {
        font-size: 1.8rem;
        position: relative;
        bottom: 35px;
        right: 10px;
    }
    .content {
        width: 48%;
    }
    .main__ttl {
        margin: 2rem 0;
        font-size: 3rem;
        font-weight: bold;
        color: #c4c4c4;
        text-align: right;
        text-transform: uppercase;
    }
}