.main {
  margin-bottom: 5rem;
}
.fixme {
  width: 100%;
}

.main__item {
  position: relative;
  box-shadow: inset 0px -30px 20px -5px rgba(255, 255, 255);
  margin: auto;
  margin-top: 2rem;
  border: 1px solid;
  cursor: pointer;
  width: 100%;
  max-width: 750px;
}

@media screen and (max-width: 480px) {
  .main__item {
    height: 220px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
  .main__item {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .main__item {
    height: 400px;
  }
}

.main__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0);
}
.main__item--fumikiri {
  background: url("../img/fumikiri.jpg");
  background-size: cover;
}
.main__item--musashino {
  background: url("../img/musasino.jpg");
  background-size: cover;
}
.main__item--kamakura {
  background: url("../img/kamakura.jpg");
  background-size: cover;
}
.main__item--akibadai {
  background: url("../img/akibadai.jpg");
  background-size: cover;
}
.main__item--hiratsuka {
  background: url("../img/hiratsuka.jpg");
  background-size: cover;
}
.main__item--midorisou {
  background: url("../img/midorisou.jpg");
  background-size: cover;
}

.main__item__title {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
