@charset "utf-8";

*{
  width: 100%;
  margin: auto;
  font-size: 4.3vw;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

h1{
  opacity: 0.4;
  font-size: 6vw;
  text-align: right;
  font-weight: bolder;
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding: 20px 20px 0 0;
}
main{
  width: 95%;
  nav{
    ul{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 7%;
      justify-content: space-between;
      li{
        width: 48%;
        margin: 6% 0;
        a{
          color: white;
          padding: 16px 31%;
          text-align: center;
          border-radius: 7px;
          background: dimgray;
        }
        .longer{
          padding: 16px 21.7%;
        }
        .longest{
          padding: 16px 17%;
        }
      }
    }
  }
  article{
    margin-bottom: 20px;
    div{
      padding: 3px 0;
      h2{
        text-align: center;
        font-weight: bolder;
        padding: 15px;
      }
    }
    section{
      padding: 10px;
      display: flex;
      flex-flow: row-reverse;
      a{
        display: flex;
        flex-flow: row-reverse;
      }
      h3{
        border-bottom: solid #BB5535 3px;
        height: 60px;
        margin: auto;
        color: #5B5B5B;
        padding: 0 3px;
        margin-left: 5%;
        text-align: right;
        line-height: normal;
        span{
          font-size: 6vw;
          font-weight: bolder;
        }
      }
      p{
        width: 55%;
      }
    }
    .shohoku{
      color: white;
      border-top: solid #000 3px;
      border-bottom: solid #000 3px;
      h2{
        background: #D02A2A;
      }
    }
    .ryonan{
      color: #0B46B9;
      border-top: solid #0B46B9 3px;
      border-bottom: solid #0B46B9 3px;
    }
    .shoyo{
      color: white;
      border-top: solid #1D9521 3px;
      border-bottom: solid #1D9521 3px;
      h2{
        background-color: #1D9521;
      }
    }
    .kainan{
      border-top: solid #3700AD 3px;
      border-bottom: solid #3700AD 3px;
      h2{
        background-color: #FFE600;
      }
    }
    .toyotama{
      color: white;
      border-top: solid #001F8E 3px;
      border-bottom: solid #001F8E 3px;
      h2{
        background-color: #228DEF;
      }
    }
    .sanno{
      color: #228DEF;
      border-top: solid #228DEF 3px;
      border-bottom: solid #228DEF 3px;
    }
  }
}

@media (min-width: 960px){
  *{
    font-size: 2vw;
  }
  main{
    width: 67%;
    padding-right: 2%;
    margin-left: 350px;
    nav{
      ul{
        margin-bottom: 5%;
        li{
          width: 33.3%;
          margin: 3.5% 0;
          a{
            padding: 16px 31%;
          }
          .longer{
            padding: 16px 21.7%;
          }
          .longest{
            padding: 16px 17%;
          }
        }
      }
    }
    article{
      .chars{
        display: flex;
        flex-wrap: wrap;
        section{
          width: 50%;
          margin: 0;
          padding: 10px;
          display: flex;
          flex-flow: row-reverse;
          a{
            display: flex;
            flex-flow: row-reverse;
          }
          h3{
            padding: 0 5px;
            font-size: 1.5vw;
            line-height: unset;
            span{
              font-size: 3vw;
            }
          }
        }
      }
    }
  }
}
