* {
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 95%;
}
main nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7%;
  justify-content: space-between;
}
main nav ul li {
  width: 48%;
  margin: 6% 0;
}
main nav ul li a {
  color: white;
  padding: 16px 31%;
  text-align: center;
  border-radius: 7px;
  background: dimgray;
}
main nav ul li .longer {
  padding: 16px 21.7%;
}
main nav ul li .longest {
  padding: 16px 17%;
}
main article {
  margin-bottom: 20px;
}
main article div {
  padding: 3px 0;
}
main article div h2 {
  text-align: center;
  font-weight: bolder;
  padding: 15px;
}
main article section {
  padding: 10px;
  display: flex;
  flex-flow: row-reverse;
}
main article section a {
  display: flex;
  flex-flow: row-reverse;
}
main article section h3 {
  border-bottom: solid #BB5535 3px;
  height: 60px;
  margin: auto;
  color: #5B5B5B;
  padding: 0 3px;
  margin-left: 5%;
  text-align: right;
  line-height: normal;
}
main article section h3 span {
  font-size: 6vw;
  font-weight: bolder;
}
main article section p {
  width: 55%;
}
main article .shohoku {
  color: white;
  border-top: solid #000 3px;
  border-bottom: solid #000 3px;
}
main article .shohoku h2 {
  background: #D02A2A;
}
main article .ryonan {
  color: #0B46B9;
  border-top: solid #0B46B9 3px;
  border-bottom: solid #0B46B9 3px;
}
main article .shoyo {
  color: white;
  border-top: solid #1D9521 3px;
  border-bottom: solid #1D9521 3px;
}
main article .shoyo h2 {
  background-color: #1D9521;
}
main article .kainan {
  border-top: solid #3700AD 3px;
  border-bottom: solid #3700AD 3px;
}
main article .kainan h2 {
  background-color: #FFE600;
}
main article .toyotama {
  color: white;
  border-top: solid #001F8E 3px;
  border-bottom: solid #001F8E 3px;
}
main article .toyotama h2 {
  background-color: #228DEF;
}
main article .sanno {
  color: #228DEF;
  border-top: solid #228DEF 3px;
  border-bottom: solid #228DEF 3px;
}

/***** Mobile *****/
@media screen and (max-width: 960px) {
  .main__ttl {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: #c4c4c4;
    text-align: right;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 960px) {
  .main__ttl {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: #c4c4c4;
    text-align: right;
    text-transform: uppercase;
  }

  main {
    width: 67%;
    padding-right: 2%;
    margin-left: 350px;
  }
  main nav ul {
    margin-bottom: 5%;
  }
  main nav ul li {
    width: 33.3%;
    margin: 3.5% 0;
  }
  main nav ul li a {
    padding: 16px 31%;
  }
  main nav ul li .longer {
    padding: 16px 23.5%;
  }
  main nav ul li .longest {
    padding: 16px 20%;
  }
  main article .chars {
    display: flex;
    flex-wrap: wrap;
  }
  main article .chars section {
    width: 50%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-flow: row-reverse;
  }
  main article .chars section a {
    display: flex;
    flex-flow: row-reverse;
  }
  main article .chars section h3 {
    padding: 0 5px;
    font-size: 1.5vw;
    line-height: unset;
  }
  main article .chars section h3 span {
    font-size: 3vw;
  }
}

/*# sourceMappingURL=index.css.map */
