@charset "utf-8";

*{
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

main{
  width: 95%;
  nav{
    ul{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 7%;
      justify-content: space-between;
      li{
        width: 48%;
        margin: 25px 0;
        a{
          color: white;
          padding: 16px 25%;
          text-align: center;
          border-radius: 7px;
          background: dimgray;
        }
        .longer{
          padding: 16px 21.7%;
        }
        .longest{
          padding: 16px 17%;
        }
      }
      li:nth-of-type(1) a{
        border: solid black 3px;
        background: #D02A2A;
      }
      li:nth-of-type(2) a{
        border: solid #0B46B9 3px;
        background: white;
        color: #0B46B9;
      }
      li:nth-of-type(3) a{
        border: solid #1D9521 3px;
        background: white;
        color: #1D9521;
      }
      li:nth-of-type(4) a{
        border: solid #3700AD 3px;
        background: #FFE600;
        color: black;
      }
      li:nth-of-type(5) a{
        border: solid #001F8E 3px;
        background: #228DEF;
        color: white;
      }
      li:nth-of-type(6) a{
        border: solid #228DEF 3px;
        background: white;
        color: #228DEF;
      }
    }
  }
  article{
    margin-bottom: 20px;
    div{
      padding: 3px 0;
      h2{
        text-align: center;
        font-weight: bolder;
        padding: 15px;
      }
    }
    section{
      padding: 10px;
      display: flex;
      flex-flow: row-reverse;
      a{
        display: flex;
        flex-flow: row-reverse;
      }
      h3{
        border-bottom: solid #BB5535 3px;
        margin: auto;
        color: #5B5B5B;
        padding: 0 3px;
        margin-left: 5%;
        text-align: right;
        line-height: normal;
        span{
          font-size: 6vw;
          font-weight: bolder;
        }
      }
      p{
        width: 55%;
      }
    }
    .shohoku{
      color: white;
      border-top: solid #000 3px;
      border-bottom: solid #000 3px;
      h2{
        background: #D02A2A;
      }
    }
    .ryonan{
      color: #0B46B9;
      border-top: solid #0B46B9 3px;
      border-bottom: solid #0B46B9 3px;
    }
    .shoyo{
      color: white;
      border-top: solid #1D9521 3px;
      border-bottom: solid #1D9521 3px;
      h2{
        background-color: #1D9521;
      }
    }
    .kainan{
      border-top: solid #3700AD 3px;
      border-bottom: solid #3700AD 3px;
      h2{
        background-color: #FFE600;
      }
    }
    .toyotama{
      color: white;
      border-top: solid #001F8E 3px;
      border-bottom: solid #001F8E 3px;
      h2{
        background-color: #228DEF;
      }
    }
    .sanno{
      color: #228DEF;
      border-top: solid #228DEF 3px;
      border-bottom: solid #228DEF 3px;
    }
  }
}
.drawer-menu__bb2 {
  width: auto;
}
/***** Mobile *****/
  .main__ttl {
    padding: 3rem 0 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: #c4c4c4;
    text-align: right;
    text-transform: uppercase;
  }

@media screen and (min-width: 960px){
  main{
    padding-right: 2%;
    margin-right: 0;
    nav{
      ul{
        margin-bottom: 5%;
        li{
          width: 33%;
          margin: 30px 0;
          a{
            // width: 33%;
            // padding: 16px 37%;
          }
          .longer{
            padding: 16px 23.5%;
          }
          .longest{
            padding: 16px 19%;
          }
        }
      }
    }
    article{
      margin-bottom: 30px;
      .chars{
        display: flex;
        flex-wrap: wrap;
        section{
          width: 50%;
          margin: 0;
          padding: 10px;
          display: flex;
          flex-flow: row-reverse;
          a{
            display: flex;
            flex-flow: row-reverse;
          }
          h3{
            padding: 0 5px;
            font-size: 1.5vw;
            line-height: unset;
            span{
              font-size: 3vw;
            }
          }
        }
      }
    }
  }
}
